**HIERARCHIAL INDEXING**

**IMPORT NUMPY AND PANDAS**

In [ ]:
import pandas as pd 
import numpy as np

**MULTIPLE INDEXED SERIES**

*BAD WAY*

In [ ]:
index = [('RAJASTHAN', 2000), ('DELHI', 2010),
         ('DELHI', 2000), ('MUMBAI', 2010),
         ('TELUGANA', 2000), ('BANGALORE', 2010)]
populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]
pop = pd.Series(populations, index=index)
pop

(RAJASTHAN, 2000)    33871648
(DELHI, 2010)        37253956
(DELHI, 2000)        18976457
(MUMBAI, 2010)       19378102
(TELUGANA, 2000)     20851820
(BANGALORE, 2010)    25145561
dtype: int64

*With this indexing scheme, you can straightforwardly index or slice the series based on this multiple index*